@()
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Account</title>

  <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/javascripts/bootstrap.min.js"></script>
  <script src="assets/javascripts/vue.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">银行管理系统</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="subbranch">支行</a>
              </li>
              <li>
                <a href="staff">员工</a>
              </li>
              <li>
                <a href="customer">客户</a>
              </li>
              <li class="active">
                <a href="account">账户</a>
              </li>
              <li>
                <a href="loan">贷款</a>
              </li>
              <li>
                <a href="stat">统计</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  <div class="container" id="app">
    <div class="col-sm-2"></div>
    <div class="container col-sm-12">
      <row>
        <div class="panel panel-info col-sm-6">
          <div class="panel-heading">
            <h3 class="panel-title">
              搜索
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="search_id">账户号</label>
                <input type="text" id="search_id" class="form-control" v-model:value="search_id">
              </div>
              <div class="form-group col-sm-6">
                <label for="search_name">支行名称</label>
                <input type="text" id="search_name" class="form-control" v-model:value="search_bank_name">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="search_date_from">业务经理身份证号</label>
                <input type="text" id="search_date_from" class="form-control" v-model:value="search_staff_id">
              </div>
              <div class="form-group col-sm-6">
                <label for="search_contact_name">开户人身份证号</label>
                <input type="text" id="search_contact_name" class="form-control" v-model:value="search_customer_id">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="search_min">资产最小值</label>
                <input type="text" class="form-control" id="search_min" v-model:value="search_min">
              </div>
              <div class="form-group col-sm-6">
                <label for="search_min">资产最大值</label>
                <input type="text" class="form-control" id="search_max" v-model:value="search_max">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="search_date_from">开户日期 (yyyy-MM-dd) 从</label>
                <input type="text" id="search_date_from" class="form-control" v-model:value="search_date_from">
              </div>
              <div class="form-group col-sm-6">
                <label for="search_date_to">到</label>
                <input type="text" id="search_date_to" class="form-control" v-model:value="search_date_to">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                  <input type="checkbox" id="saving" value="true" v-model="search_account_type_saving">
                  <label for="saving">储蓄账户</label>
                  <input type="checkbox" id="checking" value="true" v-model="search_account_type_checking">
                  <label for="checking">支票账户</label>
              </div>
              <div class="form-group col-sm-6">
                  <label class="col-sm-12" style="visibility: hidden;">占位置</label>
                  <button type="submit" class="btn btn-info" v-on:click="do_search">搜索</button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-success col-sm-6">
          <!-- 
            is_saving:Boolean,
            accountId: String,
            bankName: Option[String] = None,
            money: Double,
            date: java.sql.Date, 
            rate_creditLine: Double, 
            currency: String
         -->
          <div class="panel-heading">
            <h3 class="panel-title">
              编辑
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="edit_id">开户人身份证号</label>
                <input type="text" id="edit_id" class="form-control" v-model:value="choosed_item.customerId">
              </div>
              <div class="form-group col-sm-6">
                <label for="edit_name">开户银行</label>
                <input type="text" id="edit_name" class="form-control" v-model:value="choosed_item.bankName">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="edit_staff">余额</label>
                <input type="text" id="edit_staff" class="form-control" v-model:value="choosed_item.money">
              </div>
              <div class="form-group col-sm-6">
                <label for="edit_role">开户日期</label>
                <input type="text" id="edit_role" class="form-control" v-model:value="choosed_item.date">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="edit_1">{{label1}}</label>
                <input type="text" id="edit_1" class="form-control" v-model:value="choosed_item.rate_creditLine">
              </div>
              <div class="form-group col-sm-6" v-bind:style="{visibility:hide}" key="currency">
                <label for="edit_2">{{label2}}</label>
                <input type="text" id="edit_2" class="form-control" v-model:value="choosed_item.currency">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="edit_selected">账户类型</label>
                <select v-model="edit_selected" class="col-sm-12 form-control" >
                  <option>储蓄账户</option>
                  <option>支票账户</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="col-sm-12" style="visibility: hidden;">占位置</label>
                <button type="submit" class="btn btn-success" v-on:click="do_insert">开户</button>
                <button type="submit" class="btn btn-warning" v-on:click="do_update">修改</button>
                <button type="submit" class="btn btn-danger" v-on:click="do_remove">销户</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </row>
      <row>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>账户号</th>
              <th>开户人身份证号</th>
              <th>开户行名称</th>
              <th>余额</th>
              <th>开户日期</th>
              <th>利率/透支额度</th>
              <th>货币类型</th>
            </tr>
          </thead>
          <tbody v-on:mouseout="row_over=-1">
            <tr v-for="(row,index) of rows" v-on:mouseover="row_over=index" v-on:click="on_choose(index)" v-bind:class="{danger:index==row_choose,info:index==row_over}">
              <td>{{row.accountId}}</td>
              <td>{{row.bankName}}</td>
              <td>{{row.customerId}}</td>
              <td>{{row.money}}</td>
              <td>{{row.date}}</td>
              <td>{{row.rate_creditLine}}</td>
              <td>{{row.currency}}</td>
            </tr>
          </tbody>
        </table>
      </row>
      <row>
        <nav aria-label="Page navigation" class="col-sm-12">
          <ul class="pagination">
            <li>
              <a href="#" id="pg_prev" v-on:click="change_page(-1)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li v-for="off in offs" v-if="in_range(page_cur+off)" v-bind:class="{active:off==0}">
              <a href="#" v-on:click="change_page(off)">{{page_cur+off+1}}</a>
            </li>
            <li>
              <a href="#" id="pg_next" v-on:click="change_page(1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </row>
    </div>
    <p id="debug">{{debug}}</p>
  </div>
  <script src="assets/javascripts/account.js"></script>
</body>

</html>